@font-face {
    font-family: '1';
    src: url('./assets/fonts/bullhawk.ttf');
}
@font-face {
    font-family: '2';
    src: url('./assets/fonts/Dauphin.ttf');
}
@font-face {
    font-family: '3';
    src: url('./assets/fonts/FrizQuadrata.ttf');
}
@font-face {
    font-family: '4';
    src: url('./assets/fonts/336-font.ttf');
}
@font-face {
    font-family: '5';
    src: url('./assets/fonts/347-font.ttf');
}
@font-face {
    font-family: '6';
    src: url('./assets/fonts/5_Some_Times_Later.otf');
}