
$dark:#222;
$light:#fff;
$gray:#555;
$grey: #f4f4f4;
$blue:rgba(0, 85, 187, 1);
$gold:#ffd700;
$green:springgreen;
$accent_1: #006DC4;
$accent_2: #ffc700;
$tomato: tomato;
$marine:#2196F3;
$turquoise: turquoise;

$size:calc(1vw + 1vh + 2vmin);
$border: solid rgba(153, 153, 153, 0.25);
$bg_gray: url('./assets/img/bg_pattern/gray-bg.webp');